
    <!-- Початок -->
    <section class="footer">
      <div class="continer">
      <img src="../img/logo.webp" class="logo-footer" alt="logo in footer">
      <ul class="footer-teladress">
        <li class="teladress-item">
          <h2 class="footer-tel">UA: +38 066 543 8912</h2>
        </li>
        <li class="teladress-item">
          <address class="adres">Ukraine, Kyiv</address>
        </li>
      </ul>
      <!-- соц Мережі -->
      <ul class="footer-Socialnetworks">
        <li class="Socialnetworks">
          <h2 class="Socialnetworks-item">INSTAGRAM</h2>
        </li>
        <li class="Socialnetworks">
          <h2 class="Socialnetworks-item">FACEBOOK</h2>
        </li>
        <li class="Socialnetworks">
          <h2 class="Socialnetworks-item">YOUTUBE</h2>
        </li>
      </ul>

      <!-- ми -->
      <ul class="courses-we">
        <li class="we-item">
          <h2 class="we-text">ABOUT US</h2>
        </li>
        <li class="we-item">
          <h2 class="we-text">OUR COURSES</h2>
        </li>
        <li class="we-item">
          <h2 class="we-text">OUR MENTORS</h2>
        </li>
        <li class="we-item">
          <h2 class="we-text">REVIEWS</h2>
        </li>
        <li class="we-item">
          <h2 class="we-text">CONTACTS</h2>
        </li>
      </ul>

      <input
        type="email"
        id="email"
        pattern=".+@example\.com"
        size="30"
        placeholder="Enter your email"
      />
      <button type="reset">Go</button>

      <div class="rights">
        <h2 class="rights-text">Privacy Policy Public Offering Agreement</h2>
      </div>

      <div class="info">
        <h2 class="info-text">2023 Focus Frame © All rights reserved</h2>
      </div>
    </div>
    </section>
