    <header class="header">
        <div class="container header-containre">
        <div class="header-div">
        <img src="./img/logo.webp" alt="Focus.Frame" class="header-logo">
        <ul class="header-list">
            <li class="header-sections">ABOUT US</li>
            <li class="header-sections">OUR COURSES</li>
            <li class="header-sections">OUR MENTORS</li>
            <li class="header-sections">REVIEWS</li>
            <li class="header-sections">CONTACTS</li>
        </ul>
    </div>
        <button class="header-button"> <span class="header-span">SIGN UP</span></button>
    </div>
    </header>