<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header">
        <div class="separation">
        <h1 class="header-logo">Focus.Frame</h1>
        <ul class="header-list">
            <li class="header-sections">ABOUT US</li>
            <li class="header-sections">OUR COURSES</li>
            <li class="header-sections">OUR MENTORS</li>
            <li class="header-sections">REVIEWS</li>
            <li class="header-sections">CONTACTS</li>
        </ul>
    </div>
        <button class="header-button">SIGN UP</button>
    </header>
</body>
</html>