
    <section class="sign-up-section">
      <div class="container">
      <h1 class="sign-up-text">Sign<span class="sign-up-span">Up</span></h1>
      <p class="sign-up-subtext">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <label  for="name" class="sign-up-namelabel"><input type="text" placeholder="Enter your name"/></label>
      <label for="email" class="sign-up-emaillabel"><input type="text" placeholder="Enter your email"/></label>
      <label for="message" class="sign-up-messagelabel"><input type="text" placeholder="Message"/></label>
      <button class="sign-up-button">SEND</button>
      <h5 class="sign-up-bottomtext">
        By clicking on “Send” button, you agree to our Privacy Policy, and allow
        Promodo to use this information for marketing purposes.
      </h5>
      <img src="./img/camera-for-sign_up.webp" alt="camera" class="sign-up-camera">
      <img src="./img/videocam-for-sign_up.webp" alt="camera-too" class="sign-up-videocamera">
    </div>
    </section>

