:root {
    --wite-color: #fff;
    --camera-bacground-color: #BEA69E;
    --gradient-color: #1D1D1D;
    --bacground-color: #121212;
  }
.block-section{
  background-color: var(--bacground-color);
  height: 80px;
}
.block-text{
color: var(--camera-bacground-color);
font-weight: 400;
font-size: 59px;
line-height: 108%;
letter-spacing: -0.02em;
text-transform: uppercase;
}

.block-span{
  color: var(--wite-color);
  font-weight: 400;
font-size: 59px;
line-height: 108%;
letter-spacing: -0.02em;
text-transform: uppercase;
}


.block-lineup{
height: 1px;
background-color: rgba(255, 255, 255, 0.2);
}

.block-linebottom{
  margin-top: 0px;
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.block-container{
  display: flex;
  justify-content: center;
}
