:root {
    --wite-color: #fff;
    --camera-bacground-color: #BEA69E;
    --gradient-color: #1D1D1D;
    --bacground-color: #121212;
  }

.footer-teladress {
  width: 143px;
  height: 46px;
}

.footer {
  background-image: url(../img/footer-phone.webp);
  width: 1278px;
height: 331px;
}
