:root {
  --wite-color: #fff;
  --camera-bacground-color: #BEA69E;
  --gradient-color: #1D1D1D;
  --bacground-color: #121212;
}

.reviews-logo {
  font-size: 48px;
  margin-bottom: 50px;
  color: var(--wite-color);
}

.reviews-title {
  font-size: 20px;
  color: var(--wite-color);
  min-width: 152px;
}

.reviews-itome {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--bacground-color);
  width: 530px;
  height: 216px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-text {
  color: var(--wite-color);
  line-height: 1.30;
  width: 490px;
  height: 80px;
  padding-top: 20px;
}

.reviews-list {
  display: flex;
  gap: 20px;
}

.reviews-student {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}


.reviews-section {
  background-color: var(--bacground-color);
  padding-bottom: 150px;
  font-family: "DM Sans", sans-serif;
}

.reviews-image {
  border-radius: 50%;
  padding-left: 474px;
  margin-bottom: 56px;
  margin-left: 156px;

}


.section-images {
  align-items: first baseline;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 }

.reviews-images {
  width: 100%;
  /* height: 100%; */
  display: block;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
}

.section-names {
  display: flex;
  width: 145px;
  height: 50px;
  flex-direction: column;
  gap: 4px;
  padding-top: 3px;
  margin-right: auto;
}

.reviews-gap {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.reviewes-img {
  width: 56px;
  height: 56px;
}

.reviews-names-2 {
  width: 152px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 3px;
}

.review-list {
  display: flex;
  margin-left: 156px;
}

.review-star {
  width: 20px;
height: 20px;
fill: var(--camera-bacground-color);
}

.review-star-special {
  fill: var(--gradient-color);
  width: 20px;
  height: 20px;
}

.review-star:hover {
  box-shadow: 0px 0px 5px 5px var(--camera-bacground-color);
  border-radius: 50%;
}

.review-star-special:hover {
  box-shadow: 0px 0px 5px 5px var(--camera-bacground-color);
  border-radius: 50%;
}