:root {
    --wite-color: #fff;
    --camera-bacground-color: #BEA69E;
    --gradient-color: #1D1D1D;
    --bacground-color: #121212;
  }

.sign-up-section {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: var(--bacground-color) ;
}

.sign-up-container {
  display: flex;
  flex-wrap: nowrap;
}

.sign-up-text {
  font-family: "DM Sans" , sans-serif;
font-weight: 500;
font-size: 48px;
line-height: 112%;
letter-spacing: -0.04em;
color: var(--wite-color);
display: flex;
margin-bottom: 20px;

}


.sign-up-span{
  font-family: "DM Sans" , sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: var(--camera-bacground-color);
}

.sign-up-subtext {
  font-family: "DM Sans" , sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
color: var(--wite-color);
width: 480px;
display: block ;
margin-bottom: 40px;
}

.sign-up-namecontainer{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 480px;
  height: 60px;
  margin-bottom: 14px;
  margin-right: 60px;
}

.sign-up-namecontainer:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);

}

.sign-up-emailcontainer{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 480px;
  height: 60px;
  margin-bottom: 14px;
}

.sign-up-emailcontainer:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.sign-up-messagecontainer{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 480px;
  height: 120px;
  margin-bottom: 20px;
}


.sign-up-messagecontainer:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}



.namelabel{
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  border: none;
  background-color: var(--bacground-color);
  outline: none;
  color: var(--gradient-color);
}

.namelabel:hover{
  color: var(--wite-color);
}

.emaillabel{
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  border: none;
  color: var(--gradient-color);
  background-color: var(--bacground-color);
  outline: none;
}
.emaillabel:hover{
  color: var(--wite-color);
}

.messagelabel{
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 79px;
  padding-left: 18px;
  border: none;
  color: var(--gradient-color);
  background-color: var(--bacground-color);
  outline: none;
}

.messagelabel:hover{
  color: var(--wite-color);
  
}

.sign-up-button{
  font-family: "DM Sans" , sans-serif;
  border-radius: 12px;
width: 479px;
height: 60px;
background-color: var(--wite-color);
display: block;
font-weight: 700;
margin-bottom: 20px;
}

.sign-up-button:hover{
  font-family: "DM Sans" , sans-serif;
  border-radius: 12px;
width: 479px;
height: 60px;
background-color: var(--gradient-color);
color: var(--camera-bacground-color);
display: block;
font-weight: 700;
border: none;
}

.sign-up-bottomtext{
  font-family: "DM Sans" ,  sans-serif;
  width: 480px;
height: 36px;
font-weight: 400;
font-size: 14px;
line-height: 129%;
color: rgba(255, 255, 255, 0.5);
display: block;
}

.sign-up-bottomspan{
  font-family: "DM Sans" ,  sans-serif;
  width: 480px;
height: 36px;
font-weight: 400;
font-size: 14px;
line-height: 129%;
color: rgba(255, 255, 255, 0.5);
text-decoration: underline;
text-decoration-skip-ink: none;

}

.sing-up-imagecontainer{
  display: flex;
  align-items: end;
  gap: 20px;
}

.sign-up-camera{ 
   display: inline;
width: 150px;
height: 142px;
padding-top: 76px;
padding-bottom: 62px;
padding-left: 19px;
padding-right: 19px;
}

.sign-up-cameracontainer{

  border-radius: 1000px;
  width: 190px;
  height: 288px;
  background-color: var(--camera-bacground-color);
}

.sign-up-videocamera{ 
   display: inline;

width: 240px;
height: 296px;
padding-top: 156px;
padding-bottom: 88px;
padding-left: 50px;
padding-right: 50px;

}

.sign-up-videcameracontainer{
  border-radius: 1000px;
  width: 350px;
  height: 540px;
  background-color: var(--gradient-color);
}
